<!--create-recording.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>Upload recording</h1>


<div class="panel panel-default col-sm-12">
  <div class="panel-body">
    <!--If there's an error, display the error-->
    {{ if .ErrorTitle}}
    <div class="alert alert-warning" role="alert">
      {{.ErrorTitle}}: {{.ErrorMessage}}
    </div>
    {{end}}
    <!--Create a form that POSTs to the `/recording/upload` route-->
    <form class="form" action="{{.url_base}}/recording/upload" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Leave blank to use file name">
      </div>
      <div class="form-group">
        <label for="language">Language</label>
        <select class="custom-select" id="language" name="language">
          <option value="de">German</option>
          <option value="en">English</option>
          <option value="ru">Russian</option>
        </select>
      </div>
      <div class="form-group">
	  <input id="content" type="file" class="file" name="content" multiple>
          <script>
          $(document).ready(function() {
            $("#content").fileinput({
              theme: "explorer",
              uploadUrl: "{{.url_base}}/recording/upload",
              uploadExtraData: function() {
                return {
                  title: $("#title").val(),
                  language: $("#language").val(),
               };
              }
            });
          });
          </script>
      </div>
    </form>
  </div>
</div>  

    
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
