<!--dps.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>Data protection statement</h1>

<div class="panel panel-default">
  <p>
    This website uses cookies in order to recognize the logged in users.
  </p>

  <p>
    All uploaded recordings are stored and processed on a virtual machine offered by
    <a href="https://www.bw-cloud.org/en/">bwCloud</a>.
    Any recording and all its metadata, including its transcription, can be deleted at any time
    by the user request using the <button type="button" class="btn btn-outline-danger btn-sm">Delete</button> button.
  </p>

</div>  

    
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
