<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <!--Loop over the `payload` variable, which is the list of recordings-->
  {{range .payload }}
    <!--Create the link for the recording based on its ID-->
    <a href="{{$.url_base}}/recording/view/{{.ID}}">
      <!--Display the title of the recording -->
      {{.Title}}
      {{if eq .Status 1 }}<span class="badge badge-info">In queue</span>{{end}}
      {{if eq .Status 2 }}<span class="badge badge-primary">Transcribing</span>{{end}}
      {{if eq .Status 3 }}<span class="badge badge-success">Transcribed</span>{{end}}
      {{if eq .Status 4 }}<span class="badge badge-danger">Error</span>{{end}}
    </a><br/>
  {{else}}
    Please <a href="{{.url_base}}/recording/upload">upload</a> some recordings.
  {{end}}

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
