<!--menu.html-->

<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="{{.url_base}}/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {{ if .is_logged_in }}
        <!--Display this link only when the user is logged in-->
        <li class="nav-item"><a class="nav-link" href="{{.url_base}}/recording/upload">Upload recording</a></li>
      {{end}} 
      {{ if not .is_logged_in }}
        <!--Display this link only when the user is not logged in-->
        <li class="nav-item"><a class="nav-link" href="{{.url_base}}/u/register">Register</a></li>
      {{end}} 
      {{ if not .is_logged_in }}
        <!--Display this link only when the user is not logged in-->
        <li class="nav-item"><a class="nav-link" href="{{.url_base}}/u/login">Login</a></li>
      {{end}} 
      {{ if .is_logged_in }}
        <!--Display this link only when the user is logged in-->
        <li class="nav-item"><a class="nav-link" href="{{.url_base}}/u/logout">Logout</a></li>
      {{end}}
    </ul>
    </div>

    <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="{{.url_base}}/dps">Data protection statement</a></li>
    </ul>
</nav>
